vendor/
/testSession.php
/testFileManager.php
/test6.php
/getSessionData.php
/closeSession.php
/webScrapper.php
/react.jsx  
**.sql  
/tests
/update.txt
/news.txt
/updates.txt
/formt.json
/INTEC_docprod.json
/tributarieDocs.php
/tributarieDocuments.js
/trjson.json
/tempJSON